.DS_Store

*.py[cod]

# C extensions
*.so

# Databases
*.db

# Vendor pacakges
vendor/*

# Logs
*.log

# Packages
*.egg
*.egg-info
dist
build
eggs
develop-eggs
.installed.cfg
*.tar.gz

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

#Developer
.project
.pydevproject
.idea
