#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#export PYBUILD_DESTDIR_python2=debian/python-aptexport/

%:
	dh $@ --with python-virtualenv

override_dh_clean:
	find -type f -name *.pyc -delete
	dh_clean
